/* 样式重置 */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #fff;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mt_top {
    margin-top: 20px;
}
.body_bg {
    background-color: #222D32;
}
.panel-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
.mt_150 {
    margin-top: 150px;
}

/* 侧边栏 */
.lt_aside {
    height: 100%;
    width: 180px;
    position: fixed;
    left: 0;
    top: 0;

    background-color: #222D32;
}
.lt_aside .lt_title {
    width: 100%;
    height: 50px;
    background-color:#367FA9;
    text-align: center;
    line-height: 50px;
}
.lt_title a {   
    font-size: 24px;

}

/* 用户 */

.lt_aside .user {
    width: 100%;
    height: 180px;
    padding-top: 30px;
   
}
.user img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    
}
.user p {
     text-align: center;
     line-height: 40px;
     height: 40px;
     font-size: 18px;
     color: #fff;
}
/* 导航部分 */

.nav a {
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    border-left: 3px solid transparent;
    transition: 1s;
}
.nav a.current {
    border-left: 3px solid #069;
    background-color: #1D1F21;
}
.nav .child a {
    padding-left: 60px;
    border-left: 3px solid transparent;
}

.nav .child a i {
    margin-right: 5px;
}
.nav .child {
    display: none;
}

/* 主体部分 */
.lt_main {
   width: 100%;
   height: 2000px;
   background-color: pink;
   padding-left: 180px;
   padding-top: 50px;
}
.lt_main .lt_topbar {
   width: 100%;
   height: 50px;
   position: fixed;
   left: 0;
   top: 0;
   padding-left: 180px;
   z-index: 999;
   background-color: #3C8DBC;
}
.lt_topbar  a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
 ol .h {
    color: #337AB7;
}